/* LOGIN */
.logo{
  margin:50px 0;
}
.well.content{
  border:none;
  background: #f5f5f5;
  box-shadow: none;
}
.well.content input{
  margin-bottom: 5px;
  box-shadow: none;
  border:1px solid #efefef;
}
.well.content button{
  margin-top: 25px;
  background:#ff8e00;
  color:white;
  font-size: 16px;
  transition:0.3s;
  -moz-transition:0.3s;
  -webkit-transition:0.3s;
}
.well.content button:active, .well.content button:hover{
  background:#ff7e00;
  box-shadow:none;
}
/* HEADER */
.menu{
  padding-top: 20px;
}
.menuItem{
  padding: 5px 20px;
  color:#ff8e00;
  font-weight: bold;
  font-size:0.9em;
  text-decoration: none;
  transition:0.3s;
  -moz-transition:0.3s;
  -webkit-transition:0.3s;
}
.menuItem:active, .menuItem:hover, .menuItem.active{
  text-decoration: none;
  color: #ff7e00;
  border-bottom: 3px solid #ff7e00;
}
.menuItem + button{
  margin-left: 80px;
  background:#ff8e00;
  color:white;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
  transition:0.3s;
  -moz-transition:0.3s;
  -webkit-transition:0.3s;
}
.menuItem + button:hover, .menuItem + button:active{
  color:white;
  background:#ff7e00;
  box-shadow:none;
  
}
.usertype .pull-right{
  margin: 15px 0;
}
.usertype .pull-right span{
  color:#666;
  margin-right: 20px;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .login{
     background-color: #ffffff;
  }
  .wrappertable{
    overflow: hidden;
    position: absolute;
    width:96%;
    left:2%;
    top:2%;
    bottom:2%;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background:#abb401;
  }
  .wrappertable .table{
    border:none;
    color:white;
    border-collapse: collapse;
    border-radius: 30px;
    
  }
  .wrappertable .table thead th{
    font-size: 3em;
    border:none !important;
    text-transform: uppercase;
  }
  .wrappertable .table tfoot{
    display: none;
  }
  .wrappertable .table td{
    border:none !important;
    vertical-align: middle !important;
    background:#abb401 !important;
  }
  .wrappertable .table td img, .wrappertable .table td div{
    float:left;
  }
  .wrappertable .table img{
    width:80px;
    height: 80px;
    margin: 10px 30px;
    border:1px solid #efefef;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
  .wrappertable .table td div{
    margin-top: 12px;
    padding: 0 30px 10px 10px;
    border-bottom: 1px solid white;
  }
  .wrappertable .table td div span{
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 1px;
  }
  .wrappertable .table td div span + span:before{
    content:"Dox Ranking: ";
  }
  .wrappertable .table td div span + span{
    display: block;
    font-size: 1.2em;
  }
}
