//Created by nemux on 17/11/15.
doctype html
html
   head
      title Istanbul 2015
      meta(http-equiv='content-type', content='text/html; charset=UTF-8')
      style.
         *{padding:0; margin:0;}
         body{font-family:Helvetica-Bold,Helvetica; font-size:18px; color:#000;}
   body
      table(cellpadding='0', cellspacing='0', style='width:878px; margin:auto;')
         tr(style='height:153px;')
            td(colspan='2')
               img(src='https://s3-us-west-1.amazonaws.com/amdocs-images/mail_template/top.jpg', width='878', height='153', border='0', alt='')
         tr(style='height:208px;')
            td(width='')
               table(cellpadding='0', cellspacing='0', style='height:208px;')
                  tr(style='height:46px;')
                     td(style='padding-top:48px; font-size:32px; letter-spacing:0.2px; font-weight:bold; color:#999900;') THANK YOU FOR DOWNLOADING THE AMDOCS WALLET
                  | &#x9;&#x9;
                  tr
                     td(valign='top', style='padding-top:11px; font-size:21px; line-height:21px;')
                        | Download the Amdocs Wallet and earn a selfie stick
                        br
                        | or choose your favorite mobile accessory
                        br
                        | while getting your drink fix.
            | &#x9;
            td(width='332')
               img(src='https://s3-us-west-1.amazonaws.com/amdocs-images/mail_template/phone.jpg', width='332', height='208', border='0', alt='')
         tr(style='height:308px;')
            td(colspan='2')
               img(src='https://s3-us-west-1.amazonaws.com/amdocs-images/mail_template/main.jpg', width='878', height='308', border='0', alt='')
         tr(style='height:499px;')
            td(valign='top', style='padding-top:30px;')
               table(cellpadding='0', cellspacing='0')
                  tr(style='height:15px;')
                     td(colspan='2')
                  | &#x9;&#x9;
                  tr(style='height:60px;')
                     td(align='left', style='padding-left:17px;')
                        img(src='https://s3-us-west-1.amazonaws.com/amdocs-images/mail_template/01.jpg', width='65', height='60', border='0', alt='')
                     | &#x9;&#x9;&#x9;
                     td(style='padding-left:17px;')
                        | Order your favorite accessory or
                        br
                        | drink at the Amdocs Mobile Shop
                        br
                        | and Caf&eacute;
                  | &#x9;&#x9;
                  tr(style='height:40px;')
                     td(colspan='2')
                  | &#x9;&#x9;
                  tr(style='height:60px;')
                     td(align='left', style='padding-left:17px;')
                        img(src='https://s3-us-west-1.amazonaws.com/amdocs-images/mail_template/02.jpg', width='65', height='60', border='0', alt='')
                     | &#x9;&#x9;&#x9;
                     td(valign='top', style='padding-top:13px; padding-left:17px;')
                        | Gift your colleagues a drink or send them
                        br
                        | funds to splurge at the mobile shop
                  | &#x9;&#x9;
                  tr(style='height:88px;')
                     td(colspan='2')
                  | &#x9;&#x9;
                  tr
                     td(colspan='2', valign='top', style='padding-top:13px; font-size:24px; color:#999900;')
                        | See you in Istanbul at
                        br
                        | Mobile Money &amp; Digital Payments 2015
                  | &#x9;&#x9;
                  tr
                     td(colspan='2', valign='top', style='padding-top:15px; letter-spacing:0.9px; font-size:21px; font-weight:bold;') YOUR PERSONAL PIN NUMBER: #{userPin}
                  | &#x9;&#x9;
                  tr
                     td(colspan='2', style='padding-bottom:10px; color:#333333;')
                        | Contact us with any questions and to request
                        br
                        | a live demo of the Amdocs Wallet via:
                        br
                        | &#x9;&#x9;&#x9;
                        a(href='mailto:help@amdocswallet.com', style='color:#333333; text-decoration:none;') help@amdocswallet.com
            | &#x9;
            td(width='332', valign='top')
               img(src='https://s3-us-west-1.amazonaws.com/amdocs-images/mail_template/currency.jpg', width='332', height='499', border='0', alt='')
         tr(style='height:77px;')
            td(colspan='2')
               img(src='https://s3-us-west-1.amazonaws.com/amdocs-images/mail_template/logos2.jpg', width='878', height='77', border='0', alt='')
         tr(style='height:266px;')
            td(colspan='2')
               img(src='https://s3-us-west-1.amazonaws.com/amdocs-images/mail_template/footer.jpg', width='878', height='266', border='0', alt='')