<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="content row menu">
        <div class="col-md-6">
          <img src="https://s3-us-west-1.amazonaws.com/amdocs-images/mail/logo_amdocs_header.png" alt="amdocs">
        </div>
        <div class="col-md-6">
          <div class="pull-right" >
          <a class="menuItem" href='#/leaderboard'>Leader Board</a>
          <a class="menuItem" href='#/administration'>Administration</a>
          <a class="menuItem active" href='#/main'>Home</a>
          <button class="btn" ng-click="logOut()">Exit</button-->
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ng-include="'views/header.html'" class="usertype"></div>
        </div>
    </div>
  </div>
  <div class="col-md-1"> </div>
</div>
