<div class="col-md-12">
  <div class="row">
      <div class="col-md-6">
        <img src="https://s3-us-west-1.amazonaws.com/amdocs-images/mail/logo.png" alt="amdocs">
      </div>
      <div class="col-md-6">
        <button class="btn btn-default pull-right" ng-click="logOut()"> Log out </button>
      </div>
  </div>
  <div><br></div>
  <div class="well">
    <table ng-table class='table'>
      <tr ng-repeat="loan in loans" ng-click="loans.$selected = !loans.$selected;">
        <td data-title="'Date'">{{loan.date}}</td>
        <td data-title="'Amount'">{{loan.amount}}</td>
        <td data-title="'Status'">{{loan.status}}</td>
      </tr>
    </table>
  </div>
</div>

