<div class="pull-right">
  <span class="pull-left">Public {{countPublic}}
  <i class="glyphicon glyphicon-user  text-success"></i>
  </span>
  <span class="pull-left">&nbsp;Internal {{countInternal}}
  <i class="glyphicon glyphicon-user text-warning"></i>
  </span>
</div>

<div id="myModalTopUp" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Top Up</h4>
      </div>
      <div class="modal-body">
        <p>Enter the amount you want to add to the User Account</p>
        <input type="number" class="form-control" placeholder="Amount">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-block">Add</button>
      </div>
    </div>

  </div>
</div>

<div id="myModalResetDox" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Reset Dox</h4>
      </div>
      <div class="modal-body">
        <p>¿Are you sure you want to reset all Dox? (This operation can't be undo)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn-sm btn-danger" ng-click="resetDox()">Confirm</button>
      </div>
    </div>

  </div>
</div>

<div id="myModalDeleteUser" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete User</h4>
      </div>
      <div class="modal-body">
        <p>¿Are you sure you want to Delete User? (This operation can't be undo)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn-sm btn-danger" ng-click="deleteUser()">Confirm</button>
      </div>
    </div>

  </div>
</div>