<div class="wrappertable gradient">
  <table ng-table="tableParams" class="table table-hover">
    <tbody>
      <tr>
        <td> <!-- tabla 1 -->
          <table ng-table="tableParams">
            <tbody>
              <tr ng-repeat="user in $data | slice:0:5">
                <td>
                  <div class="item">
                      <i>{{$index +1}}</i>
                    <img fallback-src="https://s3-us-west-1.amazonaws.com/amdocs-images/profile/profile.png"  ng-src="https://s3-us-west-1.amazonaws.com/amdocs-images/profile/{{user.phoneID}}.png"/>
                    <div>
                      <span class="name">{{user.name}}</span>
                      <span>{{user.doxs}}</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td><!-- tabla 2 -->
          <table ng-table="tableParams" class="tableDer">
            <tbody>
              <tr ng-repeat="user in $data | slice:6:11">
                <td>
                  <div class="item">
                    <i>{{$index +6}}</i>
                    <img fallback-src="https://s3-us-west-1.amazonaws.com/amdocs-images/profile/profile.png"  ng-src="https://s3-us-west-1.amazonaws.com/amdocs-images/profile/{{user.phoneID}}.png"/>
                    <div>
                      <span class="name">{{user.name}}</span>
                      <span>{{user.doxs}}</span>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
