<div class="col-md-12">
  <div class="row">
      <div class="col-md-6">
        <img src="https://s3-us-west-1.amazonaws.com/amdocs-images/mail/logo.png" alt="amdocs">
      </div>
      <div class="col-md-6">
        <button class="btn btn-default pull-right" ng-click="logOut()"> Log out </button>
      </div>
  </div>
  <div><br></div>
  <div class="well">
    <table ng-table class="table">
      <tr ng-repeat="user in users">
        <td data-title="'Id'">{{user.id}}</td>
        <td data-title="'Class Name'">{{user.className}}</td>
        <td data-title="'Method Name'">{{user.methodName}}</td>
        <td data-title="'Elapsed Time'">{{user.elapsedTime}}</td>
        <td data-title="'Created at'">{{user.createdAt}}</td>
      </tr>
    </table>
    <!--highchart id="chart1" config="chart"></highchart-->
  </div>
</div>

