<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Digital Store interactive tv screen</title>
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/stylesheet.css">
</head>
<body>

  <div id="card">
    <div class="card_holder"> <img src="{{lista[0].photo}}"/>
      <div class="name_holder">
        <div class="hello">Hello,</div>
        <div class="name">{{lista[0].name}}!</div>
      </div>
    </div>
    <div class="welcome">Welcome to <img src="/images/welcome.png"></div>
    <div class="order_holder">
      <div class="order">Your order</div>
      <div class="id">#{{lista[0].orderNumber}}</div>
      <div class="ready">is ready!</div>
      <div class="please">Please approach Amdocs rep</div>
    </div>
  </div>

</body>
</html>
