<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Digital Store interactive tv screen</title>
<link href="style.css" rel="stylesheet" type="text/css">
<link href="fonts/stylesheet.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="card">
  <div class="card_holder"> <img src="persona.png"/>
    <div class="name_holder">
      <div class="hello">Hello,</div>
      <div class="name">Jonathan!</div>
    </div>
  </div>
  <div class="welcome">Welcome to <img src="welcome.png"></div>
  <div class="order_holder">
  <div class="order">Your order</div>
  <div class="id">#1234</div>
  <div class="ready">is ready!</div>
  <div class="please">Please approach Amdocs rep</div>
</div>
</div>
</body>
</html>
